<html>

<body> <br>
    <div class="sign-up-container">
        <h2>Signup</h2>
        <form (ngSubmit)="onSignup()" #signupForm="ngForm">
            <div class="input-group">
                <label for="name">Full Name:</label>
                <input type="text" id="name" [(ngModel)]="fullName" name="fullName" required>
            </div>
            <div class="input-group">
                <label for="email">Email:</label>
                <input type="email" id="email" [(ngModel)]="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" [(ngModel)]="password" name="password" required>
            </div>
            <div class="input-group">
                <label for="confirm-password">Confirm Password:</label>
                <input type="password" id="confirm-password" [(ngModel)]="confirmPassword" name="confirmPassword"
                    required>
            </div>
            <button type="submit">Signup</button>
            <p>Already have an account? <a routerLink="/login">Login</a></p>
        </form>
    </div>
    <br>
</body>
<footer>
    footer here
</footer>

</html>