.intro {
    background-color: #5d07fd18;
    padding: 20px 0;
    text-align: center;
    color: white;
}

.intro h1 {
    margin-top: 0px;
    margin-top: 30px;
}

.intro p {
    color: white;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.gallery {
    padding: 50px 10%;
}

select {
    padding: 10px 20px;
    font-size: 1.2vw;
    border-radius: 5px;
    margin: 5px 0;
}

.filter-section {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.filter-section select {
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #ffffff20;
    color: white;
    border: 1px solid #ffffff50;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.075);
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 100px;
    margin-top: 30px;
}

.image-grid img {
    width: 250px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.482);
    transition: transform 0.3s;
}


.image-grid img:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.608);
}












footer {
    background-color: #02a2ff22;
    padding: 20px 0;
    text-align: center;
    color: white;
}