<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Optimizer</title>
</head>

<body>
    <section class="intro">
        <div class="intro-text">
            <h1>Welcome to the Car Optimizer</h1>
            <p>Optimize your car's performance like never before</p>
        </div>
        <img src="../../assets/imgs/whiteSubie.png" alt="Car Img">
    </section>

    <section class="services">
        <div class="service">
            <img src="../../assets/imgs/CarPartsHomepageIMG.jpeg" alt="View Parts Image" (click)="redirectCarParts();">
            <h2>View Parts</h2>
            <p>Explore and select parts to enhance your car's capabilities.</p>
        </div>
        <div class="service">
            <img src="../../assets/imgs/ConfigureCarHomepageIMG.jpeg" alt="Configure Car Image"
                (click)="redirectGallery();">
            <h2>Configure Car</h2>
            <p>Personalize your car's performance with our configurator.</p>
        </div>
        <div class="service">
            <img src="../../assets/imgs/carGalleryHomepageIMG.jpeg" alt="Gallery Image" (click)="redirectCarConfig();">
            <h2>Gallery</h2>
            <p>View the various car models and designs in our gallery.</p>
        </div>
    </section>

    <footer>
        <p>Footer Here</p>
    </footer>
</body>

</html>